$def with(config)

$var title: $_('SIP Holman Control Plugin') 
$var page: holman_control

<script>

    // Initialize behaviors
    jQuery(document).ready(function(){

        jQuery("#cSubmit").click(function() {     	
        	jQuery("#holmanc").submit();
        });
        jQuery("button#cCancel").click(function(){
            window.location= baseUrl + "/";
        });

//         jQuery("button#docButton").click(function(){
//             window.open(baseUrl + "/static/docs/plugins/cli_control-docs.html", "_blank");
//         });

    });
</script>

<style>
.columnName {
    text-align: center;
}
</style>

<div id="plugin">
<!--     <div class="title">Command Line Control -->
<!--     <button class="execute" id="docButton" type="button" >$_('Help')</button> -->
<!--     </div> -->
    <div>
    <p>This plugin can be used to Holman Bluetooth tap timer devices.</p>
    <p>Enter the MAC addresses of timers to be controlled when a station is to be started or stopped.</p>
    </div>

</script>
<div id="stations">
    <div class="title">$_('Cl Commands')</div>
    <form id="holmanc" name="holmanc" action="$app_path('/holmanu')" method="get">
        <table id="addressList">
            <tr>
                <th class="stationNumber">$_('Station')</th>
                <th class="columnName">$_('MAC address')</th>
            </tr>
            $for bid in range(0,gv.sd['nbrd']):
                $for s in range(0,8):
                    $ sid = bid*8 + s;
                    <tr>
                        <td class="stationNumber">${sid + 1}</td>
                        <td class="config">                         
                            <input type="text" size="17" value="${config['mac'][sid]}" id="mac${sid}" name="mac${sid}">
                        </td>                       
                    </tr>
        </table>
        
            $for bid in range(gv.sd['nbrd']):
            	<input type="hidden" id="i${bid}" name="i${bid}"/>
        
    </form>
            <p></p>
</div>

<div id="controls">
    <button id="cSubmit" class="submit"><b>$_('Submit')</b></button>
    <button id="cCancel" class="cancel danger">$_('Cancel')</button>
</div>
</div>
